@charset "UTF-8";

/* Style sheet for the introduction page */


a.startGame {
	font-size: 16px;
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);
	
	background-color: #006633;
	color: black;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	max-width: 100px;
}

a.startGame:link, a.startGame:active {
	background-color: #007c3e;
}